* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #333333;
}

#root {
  height: 100%;
  width: 100%;
}

header {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  background-color: #4d4c4c;
}

.login {
  height: 40%;
}

.register {
  height: 100%;
}

#userName,
#userPassword,
#newUserName,
#newUserPassword {
  height: 50%;
}

#newUserName,
#newUserPassword {
  height: 100%;
}

button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

button:hover,
button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

main {
  height: 60%;
  display: grid;
  place-content: center;
}
main form {
  text-align: center;
}

footer {
  height: 20%;
  background-color: #1d1d1d;
}

img {
  height: 4em;
  width: auto;
  border: 1px solid black;
  border-radius: 50%;
}
